.post {
  height: 514px;
}

.post + .post {
  border-top: 1px solid #ddd;
}

.post-header {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.post-img__wr {
  background: white;
  height: 340px;
}

.post-img__img {
  display: block;
  height: 340px;
  width: 100%;
  object-fit: contain;
}

.post-footer {
  padding: 0 24px;
  font-size: 11.5px;
}

.post {
  --like-filled: white;
  --like-border: #000000;
}

.post--liked {
  --like-filled: #C8002A;
  --like-border: #C8002A;
}