.clock {
  padding: 12px 32px;
  font-size: 40px;
  color: #f3f3f4;
  text-align: center;
}

.analog__wr {
  display: flex;
  padding: 48px 32px 12px;
  justify-content: center;
}

.analog {
  box-shadow: 0 0 0 4px #f3f3f4;
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
}

.analog:after {
  content: '';
  position: absolute;
  top: 111px;
  left: 111px;
  height: 26px;
  width: 26px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #ff0004;
}

.analog-hours, .analog-minutes, .analog-seconds {
  width: 200px;
  height: 26px;
  position: absolute;
  background: linear-gradient(to right, #ff0004 0%, #ff0004 50%, transparent 50%, transparent 100%);
  left: 24px;
  border-radius: 6px;
  top: 111px;
}

.analog-hours {
  background: linear-gradient(to right, #ff0004 0%, #ff0004 50%, transparent 50%, transparent 100%);
}

.analog-minutes {
  background: linear-gradient(to right, #ff0004 0%, #ff0004 50%, transparent 50%, transparent 100%);
}

.analog-hours {
  transform: rotate(40deg)
}